/** {
	position: relative;
	webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

.responsive-checker{ display: none; }
@media (min-width: 1200px){ 
	.responsive-checker{ font-size: 0px; }
}
@media all and (max-width: 1200px){ 
	.responsive-checker{ font-size: 1px; }
}
@media all and (max-width: 991px){ 
	.responsive-checker{ font-size: 2px; }
}
@media all and (max-width: 768px){ 
	.responsive-checker{ font-size: 3px; }
}

/** GRID SYSTEM **/
@media (min-width: 1200px){ 
	.retina-size-1, .retina-size-2, .retina-size-3, .retina-size-4, .retina-size-5, .retina-size-6, .retina-size-7, .retina-size-8, .retina-size-9, .retina-size-10, .retina-size-11, .retina-size-12, .retina-size-13, .retina-size-14, .retina-size-15, .retina-size-16, .retina-size-17, .retina-size-18, .retina-size-19, .retina-size-20, .retina-size-21, .retina-size-22, .retina-size-23, .retina-size-24 { 
		float: left; 
	}
}
@media all and (max-width: 1200px){ 
	.desktop-size-1, .desktop-size-2, .desktop-size-3, .desktop-size-4, .desktop-size-5, .desktop-size-6, .desktop-size-7, .desktop-size-8, .desktop-size-9, .desktop-size-10, .desktop-size-11, .desktop-size-12, .desktop-size-13, .desktop-size-14, .desktop-size-15, .desktop-size-16, .desktop-size-17, .desktop-size-18, .desktop-size-19, .desktop-size-20, .desktop-size-21, .desktop-size-22,.desktop-size-23, .desktop-size-24{ 
		float: left;
	}
}
@media all and (max-width: 991px){ 
	.tablet-size-1, .tablet-size-2, .tablet-size-3, .tablet-size-4, .tablet-size-5, .tablet-size-6, .tablet-size-7, .tablet-size-8, .tablet-size-9, .tablet-size-10, .tablet-size-11, .tablet-size-12, .tablet-size-13, .tablet-size-14, .tablet-size-15, .tablet-size-16, .tablet-size-17, .tablet-size-18, .tablet-size-19, .tablet-size-20, .tablet-size-21, .tablet-size-22, .tablet-size-23, .tablet-size-24 { 
		float: left; 
	}
}
@media all and (max-width: 768px){ 
	.mobile-size-1, .mobile-size-2, .mobile-size-3, .mobile-size-4, .mobile-size-5, .mobile-size-6, .mobile-size-7, .mobile-size-8, .mobile-size-9, .mobile-size-10, .mobile-size-11, .mobile-size-12, .mobile-size-13, .mobile-size-14, .mobile-size-15, .mobile-size-16, .mobile-size-17, .mobile-size-18,.mobile-size-19, .mobile-size-20, .mobile-size-21, .mobile-size-22, .mobile-size-23, .mobile-size-24{ 
		float: left; 
	}
}

.retina-size-1, .retina-size-2, .retina-size-3, .retina-size-4, .retina-size-5, .retina-size-6, .retina-size-7, .retina-size-8, .retina-size-9, .retina-size-10, .retina-size-11, .retina-size-12, .retina-size-13, .retina-size-14, .retina-size-15, .retina-size-16, .retina-size-17, .retina-size-18, .retina-size-19, .retina-size-20, .retina-size-21, .retina-size-22, .retina-size-23, .retina-size-24, .desktop-size-1, .desktop-size-2, .desktop-size-3, .desktop-size-4, .desktop-size-5, .desktop-size-6, .desktop-size-7, .desktop-size-8, .desktop-size-9, .desktop-size-10, .desktop-size-11, .desktop-size-12, .desktop-size-13, .desktop-size-14, .desktop-size-15, .desktop-size-16, .desktop-size-17, .desktop-size-18, .desktop-size-19, .desktop-size-20, .desktop-size-21, .desktop-size-22,.desktop-size-23, .desktop-size-24, .tablet-size-1, .tablet-size-2, .tablet-size-3, .tablet-size-4, .tablet-size-5, .tablet-size-6, .tablet-size-7, .tablet-size-8, .tablet-size-9, .tablet-size-10, .tablet-size-11, .tablet-size-12, .tablet-size-13, .tablet-size-14, .tablet-size-15, .tablet-size-16, .tablet-size-17, .tablet-size-18, .tablet-size-19, .tablet-size-20, .tablet-size-21, .tablet-size-22, .tablet-size-23, .tablet-size-24, .mobile-size-1, .mobile-size-2, .mobile-size-3, .mobile-size-4, .mobile-size-5, .mobile-size-6, .mobile-size-7, .mobile-size-8, .mobile-size-9, .mobile-size-10, .mobile-size-11, .mobile-size-12, .mobile-size-13, .mobile-size-14, .mobile-size-15, .mobile-size-16, .mobile-size-17, .mobile-size-18,.mobile-size-19, .mobile-size-20, .mobile-size-21, .mobile-size-22, .mobile-size-23, .mobile-size-24{ 
	position: relative;
    min-height: 1px;
    padding-right: 7.5px;
    padding-left: 7.5px;
}


.fit > .retina-size-1, .fit > .retina-size-2, .fit > .retina-size-3, .fit > .retina-size-4, .fit > .retina-size-5, .fit > .retina-size-6, .fit > .retina-size-7, .fit > .retina-size-8, .fit > .retina-size-9, .fit > .retina-size-10, .fit > .retina-size-11, .fit > .retina-size-12, .fit > .retina-size-13, .fit > .retina-size-14, .fit > .retina-size-15, .fit > .retina-size-16, .fit > .retina-size-17, .fit > .retina-size-18, .fit > .retina-size-19, .fit > .retina-size-20, .fit > .retina-size-21, .fit > .retina-size-22, .fit > .retina-size-23, .fit > .retina-size-24, .fit > .desktop-size-1, .fit > .desktop-size-2, .fit > .desktop-size-3, .fit > .desktop-size-4, .fit > .desktop-size-5, .fit > .desktop-size-6, .fit > .desktop-size-7, .fit > .desktop-size-8, .fit > .desktop-size-9, .fit > .desktop-size-10, .fit > .desktop-size-11, .fit > .desktop-size-12, .fit > .desktop-size-13, .fit > .desktop-size-14, .fit > .desktop-size-15, .fit > .desktop-size-16, .fit > .desktop-size-17, .fit > .desktop-size-18, .fit > .desktop-size-19, .fit > .desktop-size-20, .fit > .desktop-size-21, .fit > .desktop-size-22,.fit > .desktop-size-23, .fit > .desktop-size-24, .fit > .tablet-size-1, .fit > .tablet-size-2, .fit > .tablet-size-3, .fit > .tablet-size-4, .fit > .tablet-size-5, .fit > .tablet-size-6, .fit > .tablet-size-7, .fit > .tablet-size-8, .fit > .tablet-size-9, .fit > .tablet-size-10, .fit > .tablet-size-11, .fit > .tablet-size-12, .fit > .tablet-size-13, .fit > .tablet-size-14, .fit > .tablet-size-15, .fit > .tablet-size-16, .fit > .tablet-size-17, .fit > .tablet-size-18, .fit > .tablet-size-19, .fit > .tablet-size-20, .fit > .tablet-size-21, .fit > .tablet-size-22, .fit > .tablet-size-23, .fit > .tablet-size-24, .fit > .mobile-size-1, .fit > .mobile-size-2, .fit > .mobile-size-3, .fit > .mobile-size-4, .fit > .mobile-size-5, .fit > .mobile-size-6, .fit > .mobile-size-7, .fit > .mobile-size-8, .fit > .mobile-size-9, .fit > .mobile-size-10, .fit > .mobile-size-11, .fit > .mobile-size-12, .fit > .mobile-size-13, .fit > .mobile-size-14, .fit > .mobile-size-15, .fit > .mobile-size-16, .fit > .mobile-size-17, .fit > .mobile-size-18,.fit > .mobile-size-19, .fit > .mobile-size-20, .fit > .mobile-size-21, .fit > .mobile-size-22, .fit > .mobile-size-23, .fit > .mobile-size-24{ 
	padding-right: 0;
	padding-left: 0;
}

@media (min-width: 1200px){ 
	.retina-size-1{ width: 4.17%; }
	.retina-size-2{ width: 8.33%; }
	.retina-size-3{ width: 12.5%; }
	.retina-size-4{width: 16.66%;}
	.retina-size-5{ width: 20.83%; }
	.retina-size-6{ width: 25%; }
	.retina-size-7{ width: 29.17%; }
	.retina-size-8{ width: 33.33%; }
	.retina-size-9{ width: 37.5%; }
	.retina-size-10{ width: 41.67%; }
	.retina-size-11{ width: 45.83%; }
	.retina-size-12{ width: 50%; }
	.retina-size-13{ width: 54.17%; }
	.retina-size-14{ width: 58.33%; }
	.retina-size-15{ width: 62.5%; }
	.retina-size-16{ width: 66.67%; }
	.retina-size-17{ width: 70.83%; }
	.retina-size-18{ width: 75%; }
	.retina-size-19{ width: 79.17%; }
	.retina-size-20{ width: 83.33%; }
	.retina-size-21{ width: 87.5%; }
	.retina-size-22{ width: 91.67%; }
	.retina-size-23{ width: 95.83%; }
	.retina-size-24{ width: 100%; }
}
@media all and (max-width: 1200px){ 
	.desktop-size-1{ width: 4.17%; }
	.desktop-size-2{ width: 8.33%; }
	.desktop-size-3{ width: 12.5%; }
	.desktop-size-4{ width: 16.66%; }
	.desktop-size-5{ width: 20.83%; }
	.desktop-size-6{ width: 25%; }
	.desktop-size-7{ width: 29.17%; }
	.desktop-size-8{ width: 33.33%; }
	.desktop-size-9{ width: 37.5%; }
	.desktop-size-10{ width: 41.67%; }
	.desktop-size-11{ width: 45.83%; }
	.desktop-size-12{ width: 50%; }
	.desktop-size-13{ width: 54.17%; }
	.desktop-size-14{ width: 58.33%; }
	.desktop-size-15{ width: 62.5%; }
	.desktop-size-16{ width: 66.67%; }
	.desktop-size-17{ width: 70.83%; }
	.desktop-size-18{ width: 75%; }
	.desktop-size-19{ width: 79.17%; }
	.desktop-size-20{ width: 83.33%; }
	.desktop-size-21{ width: 87.5%; }
	.desktop-size-22{ width: 91.67%; }
	.desktop-size-23{ width: 95.83%; }
	.desktop-size-24{ width: 100%; }
}
@media all and (max-width: 991px){ 
	.tablet-size-1{ width: 4.17%; }
	.tablet-size-2{ width: 8.33%; }
	.tablet-size-3{ width: 12.5%; }
	.tablet-size-4{ width: 16.66%; }
	.tablet-size-5{ width: 20.83%; }
	.tablet-size-6{ width: 25%; }
	.tablet-size-7{ width: 29.17%; }
	.tablet-size-8{ width: 33.33%; }
	.tablet-size-9{ width: 37.5%; }
	.tablet-size-10{ width: 41.67%; }
	.tablet-size-11{ width: 45.83%; }
	.tablet-size-12{ width: 50%; }
	.tablet-size-13{ width: 54.17%; }
	.tablet-size-14{ width: 58.33%; }
	.tablet-size-15{ width: 62.5%; }
	.tablet-size-16{ width: 66.67%; }
	.tablet-size-17{ width: 70.83%; }
	.tablet-size-18{ width: 75%; }
	.tablet-size-19{ width: 79.17%; }
	.tablet-size-20{ width: 83.33%; }
	.tablet-size-21{ width: 87.5%; }
	.tablet-size-22{ width: 91.67%; }
	.tablet-size-23{ width: 95.83%; }
	.tablet-size-24{ width: 100%; }
}
@media all and (max-width: 768px){ 
	.mobile-size-1{ width: 4.17%; }
	.mobile-size-2{ width: 8.33%; }
	.mobile-size-3{ width: 12.5%; }
	.mobile-size-4{ width: 16.66%; }
	.mobile-size-5{ width: 20.83%; }
	.mobile-size-6{ width: 25%; }
	.mobile-size-7{ width: 29.17%; }
	.mobile-size-8{ width: 33.33%; }
	.mobile-size-9{ width: 37.5%; }
	.mobile-size-10{ width: 41.67%; }
	.mobile-size-11{ width: 45.83%; }
	.mobile-size-12{ width: 50%; }
	.mobile-size-13{ width: 54.17%; }
	.mobile-size-14{ width: 58.33%; }
	.mobile-size-15{ width: 62.5%; }
	.mobile-size-16{ width: 66.67%; }
	.mobile-size-17{ width: 70.83%; }
	.mobile-size-18{ width: 75%; }
	.mobile-size-19{ width: 79.17%; }
	.mobile-size-20{ width: 83.33%; }
	.mobile-size-21{ width: 87.5%; }
	.mobile-size-22{ width: 91.67%; }
	.mobile-size-23{ width: 95.83%; }
	.mobile-size-24{ width: 100%; }
}

.container { 
	margin-left: 7.5px; 
	margin-right: 7.5px; 
}

.block{ 
	margin-left: -7.5px; 
	margin-right: -7.5px;
}

.block:before, .block:after, .clearfix:before, .clearfix:after {
	display: table;
    content: " ";
}

 .block:after, .clearfix:after{
 	clear: both;
 }

/** END GRID SYSTEM **/

/** NAV **/

.navblock { display: block; }

.navblock-fixed, .footerblock-fixed{ 
    right: 0;
    left: 0;
    z-index: 1030;
}
.navblock-fixed{
	position: absolute;
	top: 0;
	
}
.navblock-fixed.sticky{ 
	position: fixed;
	transition: all 0.4s ease;
}
.footerblock-fixed{ 
	position: fixed;
	bottom: 0; 
}

button.navblock-toggle {
	background-color: transparent;
	border: none;
}

.navblock-toggle {
	width:40px;
	height:40px;
	padding:3px;
	outline: none;
	cursor: pointer;
}

.navblock-toggle:not(.open) > span:nth-child(1) {
    top: 0px;
    transform: rotateZ(0deg);
}

.navblock-toggle:not(.open) > span:nth-child(3) {
    top: 0px;
    transform: rotateZ(0deg);
}

.navblock-toggle:not(.open) > span:nth-child(2) {
    visibility: visible;
}

.navblock-toggle.open > span:nth-child(1) {
    top: 8px;
    transform: rotateZ(-45deg);
}

.navblock-toggle.open > span:nth-child(3) {
    top: -8px;
    transform: rotateZ(45deg);
}

.navblock-toggle.open > span:nth-child(2) {
    visibility: hidden;
}

footer .nav li { float: right; }

@media all and (min-width: 991px){
	.navblock-toggle { display: none; }
	.nav { visibility: visible; }
}
@media all and (max-width: 991px){
	.navblock-toggle { display: block; }
	.nav { visibility: hidden; }
	.navblock ul.nav { position: absolute; }
	footer .nav {text-align: right;visibility: visible;}
	footer .nav li { 
		float: none; 
		display: inline-block;
	}
}

.navblock-toggle > span {
	display: block;
	width: 100%;
	height: 3px;
	margin:5px 0;
	background-color: #000000;
}

.logo { 
	float: left;
	text-indent: -99999999px; 
}
.logo > img { display: block; }

.nav-left { float: left; }
.nav-right { float: right; }

.nav { 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav > li {
	float:left;
	padding: 7.5px;
}

/** END NAV **/

/** STANDARD **/
figure.contain > img {
	max-width: 100%;
}
/** STANDARD **/

/** UTIL **/

.click-hint, .scroll-hint {
	display: block;
	margin: 0 auto;
	height: 45px;
	width: 27px;
	border: 2px solid #ffffff;
	z-index: 1;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.click-hint::before, .scroll-hint::before {
    content: ' ';
    display: block;
    position: relative;
    width: 3px;
    height: 8px;
    background-color: #ffffff;
    margin: 2px auto;
}

.scroll-hint::before {
	top: 6px;
}

.click-hint::after {
    content: ' ';
    display: block;
    position: relative;
    width: 16px;
    height: 17px;
    top: -17px;
    left: -2px;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom: 1.5px solid #ffffff;
    transition: 0.5s;
}

.center { 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

.center-vertical { 
	position: absolute; 
	top: 50%;
	transform: translate(0%, -50%);
}

.center-horizontal { 
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

.position-left { float: left; }
.position-right {float: right;}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.margin-auto{ float:none; margin-left: auto; margin-right: auto; }

@media (min-width: 1200px){ 
	.position-retina-left{ float: left; } 
	.position-retina-right{ float: right; }
}
@media all and (max-width: 1200px){ 
	.position-desktop-left{ float: left; } 
	.position-desktop-right{ float: right; } 
}
@media all and (max-width: 991px){ 
	.position-tablet-left{ float: left; } 
	.position-tablet-right{ float: right; } 
}
@media all and (max-width: 768px){ 
	.position-mobile-left{ float: left; }
	.position-mobile-right{ float: right; }
}

/** END UTIL **/

.retina-size-1{  }

.desktop-size-1{  }

.tablet-size-1{  }

.mobile-size-1{  }
