
* {
    box-sizing: border-box;
    position: relative;
}

body { font-family: 'Open Sans'; font-size: 16px; line-height: 1.47; color: #484848; }

em { font-style: italic; }
small { font-size:90%; }

body > .container {
    padding: 0 10%;
    margin: 0;
}

nav.navblock {
    background-color: #ffffff;
    box-shadow: 0 -2px 6px 0px;
}

.logo > img {
    height: 80px;
}

ul.nav li a {display: inline-block;padding: 30px 10px 30px !important;color: #000000;text-decoration: none;}

li.active { font-weight: bold; }


body > .content {
    padding-top: 45px;
}

h2 {
    font-size: 2em;
    margin: 25px 0 15px;
}

h3 {
    font-size: 1.4em;
    margin: 20px 0 10px;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    margin: 20px 0 10px;
    font-weight: bold;
}

h5 {
    font-size: 0.9em;
    margin: 20px 0 10px;
    font-weight: bold;
    font-style: italic;
}

section.vy-workspace {
    height: 100vh;
    width: 100vw;
}

.vy-workspace-inner{
    position: absolute;
    top:0px;
    left:0;
    bottom:0;
    right:0;
    background-color: #dadada;
    padding-top: 50px;
}

canvas#vy-workspace-canvas {
    display: block;
    height: 90%;
    height: calc(100% - 30px);
    max-height: 100%;
    max-width: 100%;
   /* max-width: 1024px;*/
   /*padding-top: 100px;*/
    margin: 0 auto;
    background-color: #f2f2f2;

}

.vy-workspace-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    padding: 10px 10%;
    box-shadow: 0 0 10px 1px #c5c5c5;
}

button.vy-format-picker {
    border-radius: 5px;
    border: 1px solid #929292;
    background-color: #31a7fb;
    padding: 5px 15px;
    background: linear-gradient(#00ab89, #00a584);
    margin-right: 10px;
    color: #e8e8e8;
    box-shadow: 0 0 6px 1px #bbbbbb;
    float:right;
    font-size: 0.8rem;
    line-height: 0.8rem;
}

input#vy-workspace-upload {
    visibility: hidden;
    height: 0px;
    width: 0px;
    position: absolute;
}

label.vy-upload-label {
    background: linear-gradient(#0e91f6, #33a6ff);
    border-radius: 5px;
    border: 1px solid #929292;
    padding: 5px 15px;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-right: 5%;
    color: #e8e8e8;
    box-shadow: 0 0 6px 1px #bbbbbb;
    float: right;
}

.sf-variaty-menu {
    position: absolute;
    bottom: 60px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

button.sf-variaty-menu-item {
    background: linear-gradient(#00ab89, #00a584);
    border-radius: 5px;
    border: 1px solid #929292;
    padding: 7px 10px;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin: 0 5px;
    color: #e8e8e8;
    box-shadow: 0 0 6px 1px #bbbbbb;
    display: inline-block;
}

footer ~ canvas {
    position: absolute;
    top: 50px;
    left:50%;
    transform: translateX(-50%);
    z-index: 0;
    border: 1px solid;
}



button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}