.main_container{
    display: flex;
    margin: 25px 40px;
    width: 80%;
    justify-content: space-around;
}

.leftcorner{
    position: absolute;
    bottom: 125px;
    left: 500px;
}

.rightcorner{
    position: absolute;
    top: 40px;
    right: 255px;
}

.logo{
    margin: 30px 0 0 50px;
    width: 120px;
}

/*Hoofdteskt*/


    aside{
        padding: 270px 50px;
        line-height: 1.2;
        width: 500px;
    }


    h1{
        padding-bottom: 20px;

    }


/*Formulier*/

    main{
        /*background: rgba(255, 255, 255, 0.93);*/
        max-width: 750px;
        border-radius: 20px;
        /*box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);*/
        padding: 35px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-right: 20%;
    }

    .basis_info{width: 100%;}
    .font_info{width: 50%;}
    .color_info{width: 50%;}





    label {
        display: block;
        font-size: 18px;
        color: #009ddc;
    }

    .font_choice {
        width: 90%;
        height: 30px;
        color: grey;
        border-radius: 0;
        -webkit-appearance: none;
        border-bottom: 2px solid #c2c2c2;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 14px;
        padding-bottom: 3px;
        margin-bottom: 15px;
        background-color: transparent;
    }

    .info_input{
        display: block;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 2px solid #c2c2c2;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 14px;
        color: black;
        background-color: transparent;
    }

    .color_input{
        width: 35px;
        height: 35px;
        border: none;
        padding-bottom: 10px;
        background-color: transparent;
    }

/*    MENU*/

.menu_container{
    display: flex;
    height: 100%;
}

.slide_button{
    position: absolute;
    top: 15px;
    right: 60px;
    z-index: 1;

}

/*Bubbels*/

    .bubbles{
        position: fixed;
        bottom: 0;
        /*width: 100%;*/
        height: 300px;
        z-index: -1;
    }


    .overlay_field{
        position: absolute;
        bottom: 0;
        left: -140px;
        background-color: #e6007e;

        width: 500px;
        height: 100%;
        clip-path: circle(70% at 48% 100%);
    }

    .overlay_field1{
        position: absolute;
        bottom: 0;
        left: 275px;
        background-color: #e6007e;

        width: 300px;
        height: 150px;
        clip-path: circle(62% at 50% 100%);
    }



@media only screen and (max-width: 991px){

    /*.main_container{*/
    /*    display: inline-block;*/
    /*    width: 100%;*/
    /*}*/

    .menu_container{
        margin-top: 160px;
        display: block;
    }

    aside{
        padding: 20px 40px;
    }

    main{
        margin-right: 40px;
        margin-top: unset;
        width: 90%;
        height: 400px;
        flex-direction: column;

    }

    .basis_info{width: 50%;}
    .font_info{width: 40%;margin-left: 20px;}
    .color_info{width: 40%;margin-left: 20px;}

    .save_button{
        margin-top: 5px;
        margin-left: 20px;
    }

    .slide_button{
        position: absolute;
        right: 40px;
    }

    .bubbles{
        z-index: -1;
    }
}

@media only screen and (max-width: 768px){

    .logo_field{display: none;}

    .menu_container{
        display: unset;
    }

    main{
        /*width: 100%;*/
        height: unset;
        margin: unset;
        padding: 20px;
    }

    h1{
        font-size: 34px;
    }

    h2{
        font-size: 18px;
    }

    aside{
        padding: 20px;
        width: unset;
    }

    .basis_info{width: 100%;}
    .font_info{width: 100%; margin-left: unset}
    .color_info{width: 100%;margin-left: unset}

    .font_choice{
        width: 100%;
        margin-left: unset
    }

    .save_button{
        margin: 0;
    }

}