

/*SCROLLBAR*/

        .preview_menu::-webkit-scrollbar{width: 17px;
            -webkit-overflow-scrolling: auto !important;
        }
        .scrollable_expand::-webkit-scrollbar{height: 17px;
            -webkit-overflow-scrolling: auto !important;
        }

        .preview_menu::-webkit-scrollbar-track{margin: 10px;}
        .scrollable_expand::-webkit-scrollbar-track{margin: 5px;}

        .preview_menu::-webkit-scrollbar-thumb{
            background-color: rgba(255, 255, 255, 0.70);
            border-radius: 10px;
            border: 6px solid #009ddc;
            visibility:hidden;
        }
        .scrollable_expand::-webkit-scrollbar-thumb{
            background-color: rgba(255, 255, 255, 0.70);
            border-radius: 10px;
            border: 6px solid #009ddc;
            visibility:hidden;
        }

        .preview_menu:hover::-webkit-scrollbar-thumb {visibility:visible;}
        .scrollable_expand:hover::-webkit-scrollbar-thumb{visibility:visible;}


         /*firefox*/

                .scrollbar{
                    scrollbar-color: rgba(255, 255, 255, 0.70) #009ddc;
                    scrollbar-width: thin;
                }


/*Header*/

        header{
            height: 100px;
            display: flex;
        }

        .header_container{
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .logo{
            height: 80px;
            margin: 10px 0 10px 20px;
        }

        .afmeting_button{
            background: linear-gradient(180deg, #00b0f0, #009ddc);
            width: 110px;
            height: 35px;
            color: white;
            font-weight: 100;
            border: none;
            margin: 25px 10px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            border-radius: 3px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
        }

        .afmeting_button:hover{
            background: #00b0f0;
        }

        .afmeting_button_active{
            border: 1px solid #009ddc;
            color: #009ddc;
            background: white;
        }

        .afmeting_button_active:hover{
            color: white;
            background-color: #00b0f0;
            border: none;
        }

        .background{
            clip-path: polygon(62% 0, 100% 0, 100% 100%, 0 100%);
            background-color: #ffd64f;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 500px;
            z-index: -10;
        }

/*Upload button*/

        .upload_form{
            margin: 25px;
        }

        .upload_button{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
        }

        .label_as_button{
            height: 24px;
            text-align: center;
            color: black;
            width: 250px;
            padding: 5px;
            font-size: 16px;
            display: block;
            outline: none;
            cursor: pointer;
            border: none;
            background: linear-gradient(180deg, #ffd64d, #ffd64f);
            margin-left: 30px;
            border-radius: 3px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
        }

        .label_as_button768{
            display: none;
        }

        .slide_button{
            margin: auto 40px auto 20px;
            z-index: 2;
        }

/*Main Editor*/

        .main_container{
            display: flex;
            justify-content: space-between;
            height: 87.88vh;
        }

        main{
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
            background-color: white;
            width: 85%;
            height: 599px;
            margin: 20px 20px 0 100px;
            position: absolute;
        }


/*Editor Menu*/


        .preview_menu{
            display: block;
            min-width: 265px;
            margin-top: -100px;
            background-color: #009ddc;
            /*background-color: #389ed9;*/
            overflow-y: auto;
            margin-left: -265px;
            z-index: 3;
        }

        .preview_container{
            margin: 20px 0;
        }

        .preview_content{
            width: 200px;
            margin: 0 15px 40px;
        }

        .hover_field, .hover_field1{
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            cursor: pointer;
            background-color: white;
            width: 200px;
            height: 200px;
        }

        .expand_preview{
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            cursor: pointer;
            background-color: white;
            width: 200px;
            height: 200px;
            display: inline-block;
            margin: 0 10px 15px 10px;

        }

        .expand_container{
            height: 150px;
            border-bottom: 1px solid #c4c4c4;
        }

        .titel{
            font-weight: 900;
            text-align: center;
        }

        h2{
            padding: 5px;
        }

        .expand_field {
            position: fixed;
            left: 265px;
            display: block;
            background-color: #009ddc;
            padding: 20px 20px 20px 0;
            max-width: 660px;
            max-height: 200px;
            margin-left: -660px;
            z-index: 2;
        }

        .scrollable_expand{
            overflow-x: scroll;
            overflow-y: hidden;
            white-space:nowrap;
            height: 220px;
        }

        .expand_button{
            display: none;
            border: none;
            margin: 70px 0 0 200px;
            cursor: pointer;
            background-color: transparent;
            width: 50px;
            height: 50px;
            padding-left: 0;
            z-index: 1;
        }

        .expand_image{
            width: 20px;
            height: 25px;
        }

        .expand_image_active{
            transform: rotate(180deg);
        }



                /*Button*/


                .left_slide_button {
                    clip-path: polygon(0 0, 0% 100%, 100% 50%);
                    background-color: #009ddc;
                    height: 150px;
                    z-index: 1;
                    margin-right: 100%;
                    margin-top: 60px;
                }

                .left_button{
                    cursor: pointer;
                    margin: 17px 0 0 7px;
                    width: 57px;
                    height: 112px;
                    border-top-right-radius: 61px;
                    border-bottom-right-radius: 61px;
                }

                .open_arrow{
                    margin: 45px 0 0 5px;
                    width: 25px;
                }

                .open_arrow.close_arrow{
                    transform: rotate(180deg);
                }

                .label_as_button991{
                    display: none;
                }



@media only screen and (max-width: 991px){

    .upload_form{
        /*margin: 0 15px 0 0;*/
    }

    .upload_button{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
    }

    label.label_as_button991{
        display: block;
        width: 90px;
        margin-left: unset;
        height: 24px;
        text-align: center;
        color: black;
        padding: 5px;
        font-size: 16px;
        outline: none;
        cursor: pointer;
        border: none;
        background: linear-gradient(180deg, #ffd64d, #ffd64f);
        border-radius: 3px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    }

    .label_as_button768{
        display: none;
    }

    .label_as_button{
        display: none;
    }

    .slide_button{
        margin: auto 40px auto 20px;
    }

    .upload_logo{
        width: 27px;
        margin: 9px;
    }

    .expand_field{
        max-width: 440px;
    }
}

@media only screen and (max-width: 768px) {

    main{
        width: 75%;
    }

    .label_as_button{
        display: none;
    }

    label.label_as_button991{
        display: none;
    }

    .label_as_button768{
        background: linear-gradient(180deg,#ffd64f,#ffd64d);
        display: block;
        cursor: pointer;
        border-radius: 3px;
        height: 45px;
        width: 45px;
        margin-top: 25px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    }

    .expand_field{
        max-width: 210px;
    }

    .label_as_button768{
        margin-top: 15px;
    }

    .upload_form{
        margin: 7px 10px 0 0;
    }

    .afmeting_button{
        height: 45px;
        width: 60px;
        margin: 22px 5px;
        font-size: 14px;
    }

    .slide_button{
        margin: 15px 20px 15px 0 ;
        width: 60px;
        height: 60px;
    }
}