
body{
    display: flex;
    justify-content: space-between;

}

.test{
    position: absolute;
    background-color: #ffd64f;
    width: 40%;
    height: 100%;
    right: 0;
    z-index: -1;
}

.hoek{

}


.logo{
    margin: 40px 0 0 40px;
    width: 120px;

}

.overlay_field {
    position: absolute;
    right: 0;
    clip-path: ellipse(51% 56% at 64% 37%);
    width: 900px;
    height: 795px;
    background-color: #009ddc;
    z-index: -1;

}

main{
    width: 1000px;
    margin: 240px 40px 0 50px;
    display: flex;
    justify-content: space-between;

}

.title_field{
    height: 150px;
    padding-right: 20px;
}


.login_field{
    background-color: white;
    width: 450px;
    height: 350px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);

}

form{
    padding: 55px;
}

.input_username, .input_password{
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 3px solid #c2c2c2;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    color: black;
}

.remember_me{
    font-size: 16px;
}

::placeholder{
    color: black;
    font-size: 20px;
}

.login_button{
    margin: 20px 0;
    border: none;
    font-weight: 200;
}

.forgot_ww{
    color: #009ddc;
    font-size: 14px;
}

.submit_field{
    height: 83px;
}



@media only screen and (max-width: 991px) {
    .overlay_field{
        width: 90%;
    }

    .test{
        width: 70%;
    }


    main{
        display: unset;
        justify-content: unset;
        margin: 75px 0 0 350px;
        width: unset;
    }

    .login_field, .title_field{
        width: 400px;
    }

    .title_field{
        margin-bottom: 30px;
    }

    h1{
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 768px) {


    main{
        margin: 100px auto;
    }


    .logo{
        display: none;
    }

    .overlay_field{
        width: 138%;
        height: 100%;
    }

    .title_field{
        padding-right: unset;
    }

}



