body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
}

h1, h2{
    font-family: 'Lato', sans-serif;
}

label, button, p, input, span, ul, li, a{
    font-family: 'Open Sans', sans-serif;
}

.nav_container {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    /*width: 220px;*/
    width: 500px;
    clip-path: polygon(62% 0, 100% 0, 100% 100%, 0 100%);
}

#overlay{
    margin-left: 500px;
}

.logo_field{
    position: absolute;
    top: 0;
    left: 0;
}

h1{
    font-size: 48px;
    font-weight: 500;

}

h2{
    font-size: 20px;
    font-weight: 200;
    color: #6c6c6c;
}

.login_button, .save_button{
    text-align: center;
    color: white;
    width: 250px;
    padding: 5px;
    font-size: 16px;
    font-weight: 200;
    display: block;
    outline: none;
    cursor: pointer;
    border: none;
    background: linear-gradient(180deg, #00b0f0, #009ddc);
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.login_button, .save_button{
    height: 45px;

}


button, input{
    outline: none;
}

.checkbox{
    cursor: pointer;
}


/*MENU*/


.menu{
    background: #ffd64f;
    min-width: 215px;
    height: inherit;
}

.nav_option{
    color: black;
    text-decoration: none;
    font-size: 34px;
    padding-bottom: 10px;
    font-weight: 300;
}

.nav_option:hover{
    border-bottom: 4px solid black;
}

ul{
    float: right;
    text-align: end;
    padding: 150px 40px 0 0 ;
}

li{
    margin: 20px 0;
}


.bt-menu-trigger {
    font-size: 30px;
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    cursor: pointer;

}

.bt-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 0.2em;
    margin-top: -0.1em;
    background-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}


.bt-menu-trigger span:after,
.bt-menu-trigger span:before {
    background: black;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: transform 0.3s;
}

div.bt-menu-trigger.bt-menu-open span{
    /*background: white;*/
}

.bt-menu-trigger span:before {
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);

}

.bt-menu-trigger span:after {
    -webkit-transform: translateY(0.5em);
    transform: translateY(0.5em);
}

.bt-menu-trigger.bt-menu-open span:before {
    -webkit-transform: translateY(-0.36em) translateX(0.65em) rotate(45deg) scaleX(0.6);
    transform: translateY(-0.35em) translateX(0.65em) rotate(45deg) scaleX(0.6);
    /*background: white;*/
}

.bt-menu-trigger.bt-menu-open span:after {
    -webkit-transform: translateY(0.36em) translateX(0.65em) rotate(-45deg) scaleX(0.6);
    transform: translateY(0.35em) translateX(0.65em) rotate(-45deg) scaleX(0.6);
    /*background: white;*/
}



@media only screen and (max-width: 768px) {


}